:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFFFFF;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}


body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    width: 100vw;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    color: var(--color-primary);
    font: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
}

.nav {
    display: flex;
}

.nav-link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav-element {
    padding: 0 26px;
}

.nav-element:last-child {
    padding-right: 0;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening-content {
    margin-top: 130px;
    text-align: center;
}

.opening-header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}

.opening-text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.background-image {
    width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    border-radius: var(--button-radius);
    color: white;
    font-weight: 700;
    font-family: var(--font-open-sans);
    border: none;
    padding: 16px 65px;
}

.btn-primary {
    background-color: var(--color-primary);
    font-size: 1rem;
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn-large {
    padding: 22px 157px;
}

.statistics {
    margin-top: 100px;
}

.statistics-container {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin: 100px auto 120px;
}

.statistics-header {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
}

.statistics-element {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics-circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-icon {
    position: absolute;
}

.statistics-element:nth-of-type(1) .statistics-circle {
    background-color: var(--color-redish)
}

.statistics-element:nth-of-type(1) .statistics-icon {
    top: 0;
    left: 45%;
}


.statistics-element:nth-of-type(2) .statistics-circle {
    background-color: var(--color-primary)
}

.statistics-element:nth-child(2) .statistics-icon {
    top: 20%;
    left: 45%;
}

.statistics-element:nth-of-type(3) .statistics-circle {
    background-color: var(--color-green)
}

.statistics-element:nth-child(3) .statistics-icon {
    top: 10%;
    left: 45%;
}

.statistics-number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}

.statistics-text {
    margin-top: 19px;
    color: var(--color-grey);
}

.marketing {
    background-color: var(--color-light-gray);
    padding: 105px 0;
}

.marketing-container {
    padding: 0 100px;
}

.marketing-element {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.marketing-text {
    max-width: 415px;
    margin: 91px 35px;
}

.marketing-header {
    font-family: var(--font-raleway);
    font-size: 36px;
}

.marketing-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--line-color);
    display: block;
    margin-top: 50px;
}

.marketing-description {
    margin-top: 30px;
    line-height: 1.375rem;
}

.marketing-laptop {
    --line-color: var(--color-redish)
}

.marketing-image {
    position: relative;
}

.marketing-image img {
    position: relative;
}

.marketing-laptop .marketing-image img {
    max-width: 386px;
    margin-right: 117px;
    margin-bottom: 38px;
}

.marketing-laptop .marketing-image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--line-color);
    display: block;
    border-radius: 41px;
    position: absolute;
    transform: rotate(45deg);
    left: 220px;
    bottom: 120px;
}

.marketing-phone {
    display: flex;
    flex-direction: row-reverse;
    --line-color: var(--color-primary);
}

.marketing-phone .marketing-image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--line-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    bottom: 38px;
}

.marketing-double-element {
    display: flex;
    justify-content: space-between;
}

.marketing-phone .marketing-image img {
    max-width: 426px;
    margin-left: 70px;
    margin-bottom: 13px;
}

.marketing-split {
    flex-grow: 1;
    --line-color: var(--color-green);
    max-width: 623px;
}

.marketing-double-element .marketing-image img {
    max-width: 296px;
}

.marketing-double-element .marketing-image {
    background-color: var(--color-green);
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marketing-double-element > div {
    margin-bottom: 0;
}

.pricing {
    margin: 100px auto;
}

.pricing-header {
    text-align: center;
}

.pricing-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.pricing-item {
    width: 372px;
    border-radius: 18px;
    border: 1px solid var(--line-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.basic {
    --line-color: var(--color-redish);
    flex-shrink: 4;
}

.professional {
    --line-color: var(--color-primary);
    width: 400px;
    box-shadow: 5px 10px 27px #07ACE629;
    margin: 0 40px;
}

.premium {
    --line-color: var(--color-green);
}

.pricing-benefit {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.professional .pricing-benefit {
    margin-bottom: 26px;
}

.limited-offer-heading {
    color: #13253B;
    font-size: 0.75rem;
    margin-top: 15px;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricing-item-header {
    font-family: var(--font-raleway);
    font-size: 1.3125rem;
    font-weight: 700;
    margin-top: 34px;
    color: #13253B;
}

.price {
    margin-top: 14px;
    color: var(--line-color);
    font-family: var(--font-open-sans);
    font-size: 46px;
    font-weight: 300;
}

.pricing-benefits-container {
    margin: 69px 0 60px;
    font-family: var(--font-open-sans);
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.pricing-item .btn {
    background-color: var(--line-color);
    position: relative;
    top: 25px;
}

.premium .pricing-benefits-container {
    margin-top: 57px;
}

.contact {
    display: flex;
    padding: 80px 200px 100px;
    justify-content: center;
    font-family: var(--font-open-sans);
}

.contact-column {
    width: 50%;
}

.contact-header {
    font-size: 3.0625rem;
    line-height: 3.6875rem;
    font-family: var(--font-raleway);
}

.contact-text {
    margin-top: 22px;
    margin-bottom: 42px;
}

.contact-details-container {
    display: flex;
    gap: 20px;
    color: var(--color-grey)
}

.contact-detail {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field:first-of-type {
    margin-bottom: 42px;
}

.form-consent {
    margin-top: 30px;
}


.form-checkbox {
    display: block;
    position: relative;
    padding-left: 34px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1.375rem;
}

.form-checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

 input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.consent-text {
    font-size: 0.75rem;
    color: #707070;
    line-height: 1.0625rem;
}

.form-label {
    font-size: 0.9375rem;
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3.28px;
}

.form-input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}

.footer {
    background-color: var(--color-light-gray);
    box-shadow: 0 -5px 40px #00000029;;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-header {
    font-size: 1.625rem;
    color: var(--color-primary);
    font-weight: 300;
    font-family: var(--font-raleway);
    margin-bottom: 10px;
}

.footer-note {
    font-size: 0.6875rem;
    color: var(--color-grey)
}

.footer-icons {
    display: flex;
    gap: 20px;
}