:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFFFFF;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}


body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    width: 100vw;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    color: var(--color-primary);
    font: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
}

.navigation {
    display: flex;
}

.nav-link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav-element {
    padding: 0 26px;
}

.nav-element:last-child {
    padding-right: 0;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening-content {
    margin-top: 130px;
    text-align: center;
}

.opening-header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}

.opening-text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.background-image {
    width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    border-radius: var(--button-radius);
    color: white;
    font-weight: 700;
    font-family: var(--font-open-sans);
    border: none;
    padding: 16px 65px;
}

.btn-primary {
    background-color: var(--color-primary);
    font-size: 1rem;
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn-large {
    padding: 22px 157px;
}

.statistics {
    margin-top: 100px;
}

.statistics-container {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin: 100px auto 120px;
}

.statistics-header {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
}

.statistics-element {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics-circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-icon {
    position: absolute;
}

.statistics-element:nth-of-type(1) .statistics-circle {
    background-color: var(--color-redish)
}

.statistics-element:nth-of-type(1) .statistics-icon {
    top: 0;
    left: 45%;
}


.statistics-element:nth-of-type(2) .statistics-circle {
    background-color: var(--color-primary)
}

.statistics-element:nth-child(2) .statistics-icon {
    top: 20%;
    left: 45%;
}

.statistics-element:nth-of-type(3) .statistics-circle {
    background-color: var(--color-green)
}

.statistics-element:nth-child(3) .statistics-icon {
    top: 10%;
    left: 45%;
}

.statistics-number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}

.statistics-text {
    margin-top: 19px;
    color: var(--color-grey);
}

.marketing {
    background-color: var(--color-light-gray);
    padding: 105px 0;
}

.marketing-container {
    padding: 0 100px;
}

.marketing-element {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.marketing-text {
    max-width: 415px;
    margin: 91px 35px;
}

.marketing-header {
    font-family: var(--font-raleway);
    font-size: 36px;
}

.marketing-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--line-color);
    display: block;
    margin-top: 50px;
}

.marketing-description {
    margin-top: 30px;
    line-height: 1.375rem;
}

.marketing-laptop .marketing-image img {
    max-width: 386px;
}

.marketing-phone {
    display: flex;
    flex-direction: row-reverse;
}
