* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-open-sans;
}

a {
  text-decoration: none;
}

.container {
  width: 1352px;
  margin: 0 auto;

  @include notebook {
    width: 100%;
    padding: 0 1.5rem;
  }
}

.logo {
  color: $color-primary;
  font: var(--font-raleway);
  font-size: 3.7rem;
  font-weight: 300;
}
